* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.main_header {
    display: flex;
    width: 100%;
    background-color: #fff;
    color: black;
    justify-content: space-between;
    position: fixed;
    z-index: 99999999999999999999999; 
    div {
        ul {   
            display: flex;
            justify-content: right; 
            li {
                padding: 25px 5%;
                a {
                     font-size: 16px;
                    color: black;
                    &:hover {
                        color: rgb(207, 51, 51);
                    }    
                }
                .red_a {
                    color: rgb(207, 51, 51);
                } 
            }
        }
    }
  .img_a {
      img {
          padding: 10% 20%;
      }
  } 
  .burger_menu {
      font-size: 40px;
      font-weight: 400px;
      padding:  10px;
      display: none;
  }   
}
@media screen and (max-width:900px) {
    .main_header {
        div {
            ul {
                margin-left: 300px;
                display: none;   
         }
        }
        .burger_menu {
            display: flex;
            &:hover {
                cursor: pointer;
            }
        } 
    }
}
.home_section {
    background-image: url('./image/s1.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation-name: backgroundAnimation; 
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-duration: 15s; 
    .home_div {
        text-align: center;
        position: absolute;
        margin-top: 190px;
        width: 100%;
        height: 100%;
        h2 {
            color: white;
            font-size: 60px;
            padding: 20px; 
        }
        p {
            font-size: 30px;
            color: white;
            padding: 0px 0px 5% 0px;
        }
        a {
            color: black;
            padding: 10px;
            font-size: 16px;
            background-color: white;
            text-transform: uppercase;
            &:hover {
                background-color: lightgray;
            } 
        } 
        i {
            font-size: 20px;
            background-color: black;
            color: white;
            padding: 10px;
            position: absolute;
            margin-left: 40%;
            margin-top: -5%;
            &:hover {
                color: lightgray;
                cursor: pointer;
            }
        }  
    }   
}
@keyframes backgroundAnimation {
    0% {
        background-image: url('./image/s1.png'); 
    }
    30% {
        background-image: url('./image/s2.png'); 
    }
    60% {
        background-image: url('./image/s3.png'); 
    }   
}
.service {
    h2 {
        font-size: 30px;
        text-align: center;
        padding: 100px 0px 10px 0px; 
    }
    hr {
        width: 40px;
        margin-left: 48.5%;
    }
    .main_div {
        p {
            padding: 10px;
            width: 55%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: 25%; 
        }
    }
    .card_list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
        max-width: 100%;
        padding: 1% 13% 0% 13%;
        margin-bottom: 80px;
        .first_card {
            background-color: rgb(235, 231, 231);
            i {
                background-color: rgb(235, 77, 111);
                font-size: 25px;
                color: white;
                padding: 10px;
                margin-top: 40px;
                margin-left: 30px;
            }
            h4 {
                font-size: 20px;
                padding: 30px 0px 0px 30px;
                color: rgb(97, 95, 95); 
            }
            div {
               > p {
                    padding: 10px 30px 30px 30px;
                }
            }
        }
        .second_card {
            background-color: rgb(235, 231, 231);
            i {
                background-color: rgb(235, 77, 111);
                font-size: 25px;
                color: white;
                padding: 10px;
                margin-top: 30px;
                margin-left: 20px;
            }
            h4 {
                font-size: 20px;
                padding: 30px 0px 0px 30px;
                color: rgb(97, 95, 95); 
            }
            div {
               > p {
                    padding: 10px 30px 30px 30px;
                }
            }
        }
        .firth_card {
            background-color: rgb(235, 231, 231);
            i {
                background-color: rgb(235, 77, 111);
                font-size: 25px;
                color: white;
                padding: 10px;
                margin-top: 30px;
                margin-left: 20px;
            }
            h4 {
                font-size: 20px;
                padding: 30px 0px 0px 30px;
                color: rgb(97, 95, 95); 
            }
            div {
               > p {
                    padding: 10px 30px 30px 30px;
                }
            }
        }
        .forth_card {
            background-color: rgb(235, 231, 231);
            i {
                background-color: rgb(235, 77, 111);
                font-size: 25px;
                color: white;
                padding: 10px;
                margin-top: 30px;
                margin-left: 20px;
            }
            h4 {
                font-size: 20px;
                padding: 30px 0px 0px 30px;
                color: rgb(97, 95, 95);
            }
            div {
               > p {
                    padding: 10px 30px 30px 30px;
                }
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .service {
        .card_list {
            grid-template-columns: 2fr 2fr; 
            grid-template-rows: 1fr 1fr; 
            grid-row-gap: 20px;
        }
    } 
}
@media screen and (max-width: 600px) {
    .service {
        .card_list {
            grid-template-columns: 1fr; 
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-row-gap: 20px;
        } 
    }
}
.portfolio {
    background-color: rgb(235, 231, 231);
    h2 {
        font-size: 25px;
        text-align: center;
        padding: 50px 0px 10px 0px;
    }
    hr {
        width: 40px; 
        margin-left: 48.5%;
    }
    ul {
        display: flex;
        justify-content: center;
        li {
            padding: 20px;
            a {
                background-color: white;
                padding: 10px;
                color: black;
                &:hover {
                    color: rgb(207, 51, 51);
                }
            }
            .first_a {
                color: rgb(207, 51, 51);
            }
        }
    }
        .image_div {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            width: 70%;
            margin-left: 15%;
            margin-top: 2%;  
            div {
                position: relative; 
                border: 1px solid lightgray; 
                overflow: hidden;
                &:hover .child_content {
                 transform: translate(0, 0);
                }
                img {
                    width: 100%;
                    height: 100%;
                    transition-duration: 0.5s;   
                   &:hover {
                       transform: scale(102%);
                   }   
            } 
            }
            .child_content {
                width: 100%;
                height: 100%;
                background-color: rgba(241, 72, 100, 0.74);
                position: absolute;
                transform: translate(0, -100%);
                left: 0;
                top: 0;
                transition-duration: 0.5s;
                text-align: center;
                padding: 25% 0px 0px 0px;
                color: white;
                h5 {
                    padding: 10px 0px;
                }
            }
        }
    }
    @media screen and (max-width: 1000px) {
        .portfolio {
            .image_div {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
            } 
        }
    }
    @media screen and (max-width: 600px) {
        .portfolio {
            .image_div {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
            } 
        } 
    }
    .business {
        display: grid;
        grid-template-areas: 'content_div monitor_div';
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        margin-top: 5%;
        padding: 0px 10%;
        h2 {
            color: gray;
            padding: 0px 0px 20px 0px;
        }
            hr {
                width: 40px; 
                color: black;
            }  
            p {
                padding: 10px 0px;
                line-height: 20px;
                color: gray;
            }
            .contact_button {
                margin-top: 5%;
                a {
                    background-color: rgb(92, 91, 91);
                    color: white;
                    padding: 15px;
                    
                    &:hover {
                        background-color: black;
                    }  
                }
            }
    }
    @media screen and (max-width: 900px) {
        .business {
           
            grid-template-areas: 'content_div'
             'monitor_div';
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
    }
}  
.video_container {
    margin-top: 40px;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    &::after {
        content: "";
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(179, 176, 157, 0.571);
    }
    video {
        width: 100%;
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        z-index: -999999;
        top: 0;
        left: 0;
    }
   .child_video_content {
       position: relative;
       z-index: 999999999;
       margin-top: 20%;
       h2 {
           text-align: center;
           padding: 20px 0px;
           color: white;
       }
       hr {
           width: 40px;
           margin-left: 49%;
           margin-bottom: 20px;
       }
       p {
           color:white;
           padding: 5px; 
           text-align: center;
       }
   } 
}
.team {
    .name_div {
        text-align: center;
        margin-top: 5%;
        h2 {

            padding: 20px 0px;
        }
        hr {
            width: 40px;
            margin-left: 48%;
            margin-bottom: 20px;
        }
        p {
            display: flex;
            justify-content: center;
            width: 50%;
            margin-left: 25%;
            color: gray;
            &:active {
                background-color: black;
                color: white;
            }
        }
    }
    .team_div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
        width: 80%;
        padding: 0px 10%;
        margin-top: 5%;
        .hover_div {
            position: relative; 
            border: 1px solid lightgray; 
            overflow: hidden;
            &:hover .child_image_content {
             transform: translate(0, 0);
            }
            img {
                width: 100%;
                transition-duration: 0.5s; 
            }
            .child_image_content {
                width: 100%;
                height: 100%;
                background-color: rgba(241, 72, 100, 0.74);
                position: absolute;
                transform: translate(0, -100%);
                left: 0;
                top: 0;
                transition-duration: 0.5s;
                text-align: center;
                padding: 25% 0px 0px 0px;
                color: white;
                i {
                    border: 1px solid white;
                    color: white;
                    padding: 10px;
                    margin-top: 20%;
                    &:hover {
                        background-color: white;
                        color: rgba(241, 72, 100, 0.74);
                    }
                }
            }
        }
        .bottom_div {
            background-color: rgb(250, 248, 248);
            text-align: center;
            padding: 20px 0px;
            border: 1px solid rgb(236, 226, 226); 
            box-shadow: 1px 1px 5px rgba(247, 239, 239, 0.986);
            h3 {
                color: gray;
                padding: 0px 0px 5px 0px;
                &:hover {
                    color: rgba(241, 72, 100, 0.74);
                }
            }
            p {
                color: gray;
            }
        }
    }
} 
@media screen and (max-width: 1000px) {
    .team {
        .team_div {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }

} 
@media screen and (max-width: 600px) {
    .team {
        .team_div {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }
    }
}
.skills {
    padding: 5% 10%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    background-color: rgb(250, 248, 248);
    .percent_div {
        h2 {
        padding: 0px 0px 20px 0px;
        }
       hr {
         width: 40px;
       }
       .percent {
           margin-top: 5%;
           margin-bottom: 2%;
           word-spacing: 485px;
       }
       .gray_div {
           border-radius: 10px;
           background-color: gray;
           width: 99%;
           height: 5px;
       }
      .rose_div1 {
          border-radius: 10px;
          background-color: rgba(241, 72, 100, 0.74);
          width: 80%;
          height: 5px;
      }
      .rose_div2 {
        border-radius: 10px;
        background-color: rgba(241, 72, 100, 0.74);
        width: 90%;
        height: 5px;
      }
      .percent1 {
        margin-top: 5%;
        margin-bottom: 2%;
        word-spacing: 462px;
      }
      .rose_div3 {
        border-radius: 10px;
        background-color: rgba(241, 72, 100, 0.74);
        width: 60%;
        height: 5px;
      }
      .percent2 {
        margin-top: 5%;
        margin-bottom: 2%;
        word-spacing: 455px;
      }
      .rose_div4 {
        border-radius: 10px;
        background-color: rgba(241, 72, 100, 0.74);
        width: 73%;
        height: 5px;
      }
      .percent3 {
        margin-top: 5%;
        margin-bottom: 2%;
        word-spacing: 437px;
      }
      .rose_div5 {
        border-radius: 10px;
        background-color: rgba(241, 72, 100, 0.74);
        width: 75%;
        height: 5px;
      }
    }
    .next_div {
        h2 {
            padding: 0px 0px 20px 0px;
            }
           hr {
             width: 40px;
           }
           div {
               margin-top: 5%;
               background-color: white;
               p {
                   padding: 20px 0px;
                   i {
                       margin-left: 45%;
                   }
                   .i_2 {
                    margin-left: 50%;
                   }
                   .i_3 {
                    margin-left: 61%; 
                   }
               }
           }
    }
}
@media screen and (max-width: 700px) {
    .skills {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}
.awards {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0px 5%;
    text-align: center;
    div {
        display: flex;
        padding: 10px;
        i {
            font-size: 30px;
            background-color: rgba(241, 72, 100, 0.74);
            color: white;
            padding: 5px;
        }
        .number {
            font-size: 35px;
            color: gray;
        }
        .status {
            color: gray;
            padding: 15px;
        }
    }
}
@media screen and (max-width: 700px) {
    .awards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
.testimonials {
    margin-top: 5%;
    background-image: url(./image/testimonial-bg.jpg);
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
    height: 80vh;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(85, 83, 83, 0.884);
    }
    h2 {
        color: white;
        text-align: center;
        padding: 5% 0px 2% 0px;
        position: relative;
        z-index: 1;
    }
    hr {
        width: 40px;
        color: white;
        text-align: center;
        margin-left: 48%;
        position: relative;
        z-index: 1;
    }
    p {
        color: white;
        font-size: 19px;
        text-align: center;
        max-width: 70%;
        padding: 3% 30%;
        position: relative;
        z-index: 1;
    }
    img {
        border-radius: 120px;
        border-color: white;
        width: 60px;
        margin-left: 48%;
        position: relative;
        z-index: 1; 
    }
    h5 {
        color: white;
        text-align: center;
        font-size: 19px;
        padding: 20px 0px 40px 0px;
        position: relative;
        z-index: 1; 
    }
    .icons_div {
        padding: 10px;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 1;
        i {
            background-color: white;
            color: gray;
            padding: 10px;
            text-align: center;
            margin-left: 1%;
            &:hover {
                background-color: rgba(241, 72, 100, 0.74);
                color: white;
            }
        } 
    }
}
@media screen and (max-width: 700px) {
    .testimonials {
        background-color: rgb(155, 152, 152);
        background-image: none;
    }  
}
.blog {
    .blog_heading {
        h2 {
            padding: 5% 0px 1% 0px;
            text-align: center;
        }
        hr {
            width: 40px;
            margin-left: 48.5%;
        }
        p {
            color: gray;
            max-width: 50%;
            margin-top: 1%;
            margin-bottom: 2%;
            margin-left: 20%;
            margin-right: 20%;
            text-align: center;
        }
    }
    
    .blog_image {
        padding: 0px 10%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        width: 80%;
        img {
            width: 100%;
        }
        .blog_card {
            border: 1px solid lightgray;
            box-shadow: 5px 5px 5px rgb(211, 211, 211);
            .about {
                border: 1px solid lightgray;
                box-shadow: 5px 5px 5px rgb(211, 211, 211);
                background-color: rgb(243, 240, 240);
                padding: 0px 0px 30px 0px;
                h4 {
                    font-size: 20px;
                    padding: 20px;
                    color: gray;
                }
                p {
                    color: gray;
                    padding: 20px;
                    line-height: 20px;
                }
                a {
                    color: rgba(241, 72, 100, 0.74);
                    padding: 20px;
                    &:hover {
                        color: rgba(235, 8, 46, 0.74);
                    }
                }
            }
            .mid {
                font-size: 12px;
                color: gray;
                background-color: rgb(243, 240, 240);
                span {
                    i {
                        padding: 10px;
                    }
                }
                .comments {
                    padding: 0px 0px 0px 140px;
                    &:hover {
                        color: rgba(241, 72, 100, 0.74);
                        cursor: pointer;
                    }
                }
            } 
        }
    }
    .small_big {
        display: flex;
        justify-content: center;
        margin-top: 1%;
        i {
            background-color: black;
            color: whitesmoke;
            font-size: 25px;
            padding: 5px 10px;
            &:hover {
                background-color: rgba(241, 72, 100, 0.74);
                color: white;
            }
        }
        .right_i {
            margin-left: 10px;
        }
    } 
}
.gray_icons {
    h2 {
        font-size: 25px;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 1%;
    }
    hr {
        width: 40px;
        margin-left: 48.5%;
    }
    .icons_five {
        margin-top: 20px;
        background-color: lightgray;
        padding: 10% 10%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
        .img_icon {
            img {
               width: 150px;
            }
        }
    }
}
.contact {
    h2 {
        margin-top: 5%;
        margin-bottom: 1%;
        text-align: center;
    }
    hr {
        width: 40px;
        margin-left: 48.5%;
    }
    >p {
        color: gray;
        max-width: 55%;
        text-align: center;
        margin: 2% 20% 2% 20%;
    }
    .input {
        width: 80%;
        padding: 0px 10%;
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-column-gap: 35px;
        .left_side {
            display: grid;
            grid-template-rows: 0.3fr 1fr 0.5fr;
            grid-row-gap: 10px;
            .area_button {
                display: grid;
                grid-template-rows: 1fr 0.2fr;
                grid-row-gap: 10px;
                button {
                    width: 100px;
                    padding: 10px;
                    background-color: rgba(241, 72, 100, 0.74);
                    border: none;
                    color: white;
                    &:hover {
                        background-color: rgba(248, 31, 67, 0.74);
                    }
                }
                .textarea {
                    background-color: rgb(243, 237, 237);
                    border-color: rgb(243, 237, 237);
                    padding: 10px 10px 15% 10px; 
                }
            }
            .name_email {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 10px;
                .name_input {
                    background-color: rgb(243, 237, 237);
                    border-color: rgb(243, 237, 237);
                    padding: 10px;
                }
                .email {
                    background-color: rgb(243, 237, 237);
                    border-color: rgb(243, 237, 237);
                    padding: 10px;
                }
            }
        }
        .right_side {
            >p {
                color: gray;
            }
            .address {
                display: flex;
                margin-top: 30px;
                i {
                    font-size: 20px;
                    padding: 10px;
                    background-color: rgba(241, 72, 100, 0.74);
                    color: white;
                }
                .infoes {
                    .info1 {
                        font-size: 20px;
                        color: gray;
                        margin-left: 10px;
                    }
                    .info2 {
                        font-size: 16px;
                        color: gray;
                        margin-left: 10px;
                    }
                }
            }
            .phone {
                display: flex;
                margin-top: 10px;
                i {
                    font-size: 20px;
                    padding: 10px;
                    background-color: rgba(241, 72, 100, 0.74);
                    color: white;
                }
                .phone_number {
                    .info3 {
                        font-size: 20px;
                        color: gray;
                        margin-left: 10px;
                    }
                    .info4 {
                        font-size: 16px;
                        color: gray;
                        margin-left: 10px;
                    }
                }
            }
        }
        .domain {
            display: flex;
            margin-top: 10px;
            i {
                font-size: 20px;
                padding: 10px;
                background-color: rgba(241, 72, 100, 0.74);
                color: white;
            }
            .support_domain{
                .info5 {
                    font-size: 20px;
                    color: gray;
                    margin-left: 10px;
                }
                .info6 {
                    font-size: 16px;
                    color: gray;
                    margin-left: 10px;
                }
            }
        }
    }
 }
 @media screen and (max-width: 700px) {
    .contact {
        .input {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
 }
 
 .footer {
     background-color: black;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-column-gap: 40%;
     .copyright {
         color: whitesmoke;
         font-size: 18px;
         padding: 20px;
         text-align: center;
         margin-left: 10%;
         a {
             color: white;
             &:hover {
                 color: rgba(248, 31, 67, 0.74);
             }
         }
     }
     .icon_pages {
         padding: 15px 0px;
         background-color: black;
         a {
            
            i {
                padding: 10px;
                color: white;
                
                &:hover {
                    background-color: rgba(241, 72, 100, 0.74);
                }
            }
         }
         
     }
 }
 @media screen and (max-width: 700px) {
    .footer {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        
        .copyright {
            margin-left: 0%;
            text-align: left;
        }
    }  
 }
 .underfooter {
     margin-top: 5%;
     text-align: center;
 }
 .final_button {
     font-size: 20px; 
     background-color: rgba(241, 72, 100, 0.74);
     color: white;
     position: absolute;
     background-attachment: fixed;
     z-index: 88888888888888888888;
     margin-left: 95%;
     margin-top: -8vh;
     &:hover {
        background-color: rgba(248, 31, 67, 0.74)
     }
     i {
         padding: 15px; 
     }
 }